* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body .noti {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .noti .noti-content {
  width: 350px;
  height: 250px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body .noti .noti-content .noti-ask {
  margin: 2rem auto;
}
body .noti .noti-content .btn-wrapper button {
  width: 7rem;
  height: 3rem;
}
body .noti .noti-content .btn-wrapper .yes {
  background-color: #f52020;
  opacity: 0.69;
}
/* header */
#header {
  display: flex;
  justify-content: center;
}
.header-container {
  margin: 20px 4rem;
  display: flex;
  text-align: center;

  align-items: center;
}
.header-container img {
  width: 80px;
  height: 46px;
}
.header-container .navigation {
  margin-left: 2rem;
}
.header-container .navigation ul {
  display: flex;
  align-items: center;
}
.header-container .navigation ul li {
  list-style: none;
  text-transform: uppercase;
  position: relative;
}
.header-container .navigation ul li:hover a {
  color: white;
  background-color: black;
  transition: 0.4s ease-in-out;
}
.header-container .navigation ul li a {
  display: inline;
  padding: 10px;
  text-decoration: none;
  font-size: 14px;
  color: #828282;
}
.header-container .search {
  position: relative;
  margin-left: 2rem;
  margin-right: 1rem;
}
.header-container .search input {
  padding: 15px;
  width: 312px;
  border-radius: 1rem;
  height: 30px;
  border: 1px solid #828282;
}
.header-container .search i {
  position: absolute;
  top: 8px;
  right: 1em;
  color: #828282;
}
.header-container .activity {
  margin-top: 10px;
}
.header-container .activity img {
  margin-left: 10px;
  width: 22px;
  height: 22px;
}
.header-container .activity .img-wrapper {
  position: relative;
}
.header-container .activity .img-wrapper::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: black;
  top: -5px;
  left: 13px;
}

/* homepage */

.slideshow {
  display: flex;
  justify-content: center;
}
.slideshow img {
  width: 100%;
  height: 70vh;
}
.list-item .container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.list-item .best-seller .img-wrapper {
  display: flex;
  gap: 30px;
  justify-content: center;
}
.list-item .best-seller .img-wrapper img {
  height: 241px;
  width: 513px;
}
.list-item .title-wrapper {
  margin-top: 15px;
  position: relative;
}
.list-item .title-wrapper .title {
  text-transform: uppercase;
  color: #345fce;
  font-weight: 600;
}

.list-item .title-wrapper .title::before {
  content: "";
  position: absolute;
  top: 50%;
  width: 44%;
  height: 1px;
  left: 0;
  background-color: #8282825c;
}
.list-item .title-wrapper .title::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 44%;
  height: 1px;
  right: 0;
  background-color: #8282825c;
}

.list-item .best-seller,
.list-item .T-shirt {
  width: 1050px;
  margin-top: 20px;
}
.list-item .T-shirt .img-wrapper {
  display: flex;
}
.list-item .T-shirt img {
  width: 250px;
  height: 250px;
}

/* footer */
#footer {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.hotline {
  height: 60px;
  background-color: #d9d9d978;
}
.footer-wrapper .hotline .container {
  height: 100%;
  align-items: center;
  display: flex;
}
.footer-wrapper .hotline .container .help {
  margin-left: 20px;
  font-size: 1rem;
}
.footer-wrapper .hotline .container i {
  font-size: 22px;
}
.footer-wrapper .hotline .container .help span {
  color: red;
}

.footer-wrapper .container-wrapper {
  margin-top: 50px;
  font-size: 19px;
}
.footer-wrapper .container-wrapper .info-wrapper {
  display: flex;
  gap: 3rem;
}
.footer-wrapper .container-wrapper .info-wrapper .intro {
  margin-bottom: 20px;
}
.footer-wrapper .container-wrapper .info-wrapper .aim {
  font-size: 0.9rem;
}
.footer-wrapper .container-wrapper .info-wrapper .right-info .company {
  margin: 2rem 0;
  font-weight: 600;
}
.footer-wrapper .container-wrapper .info-wrapper .right-info .loca1,
.footer-wrapper .container-wrapper .info-wrapper .right-info .loca2,
.footer-wrapper .container-wrapper .info-wrapper .right-info .phone,
.footer-wrapper .container-wrapper .info-wrapper .right-info .email {
  display: flex;
  gap: 5px;
}
.footer-wrapper .container-wrapper .info-wrapper .right-info :not(.contact) {
  font-size: 0.9rem;
}

/* couponPage */

.coupon-wrapper .coupon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.coupon-wrapper .coupon img {
  min-width: 100px;
}
.coupon-wrapper .coupon.group1 {
  justify-content: space-between;
}
.coupon-wrapper .coupon.group1 img {
  width: 750px;
  height: 320px;
}
.coupon-wrapper .coupon.group2 img {
  width: 800px;
  height: 380px;
}
.coupon-wrapper .coupon.group3 img,
.coupon-wrapper .coupon.group4 img {
  width: 100%;
  height: 190px;
}

/* couponList */

main .title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .title-wrapper .content {
  margin-left: 20px;
  color: black;
  font-weight: 600;
}
main .title-wrapper .action {
  margin-right: 40px;
}
main .title-wrapper .action .addBtn,
main .title-wrapper .action .escBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d9d9d9;
  width: 100px;
  height: 40px;
  color: black;
  font-weight: 600;
  cursor: pointer;
}
.table-wrapper {
  margin-top: 3rem;
}
.table-wrapper table.custom-table.my-table {
  background-color: #828282;
}
table.table tr {
  color: black;
  height: 5rem;
  /* border: 1px solid red; */
}
table.table tr th,
table.table tr td {
  text-align: center;
  align-content: center;
}
.table-wrapper tbody .action i {
  margin-right: 1.2rem;
  font-size: 1.2rem;
}

/* couponAdd */
form {
  background-color: #d9d9d9;
  padding: 3rem 2rem;
}

form.info input,
form.info select {
  background-color: #f9f3e9;
  height: 2rem;
  width: 70%;
}

form .info .dataField label {
  margin-bottom: 20px;
}
form .info {
  margin-bottom: 3rem;
  display: flex;
}
form .info .title {
  margin-right: 2rem;
  width: 15%;
}

form .info .dataField {
  background-color: #fff;
  padding: 15px;
  padding-left: 5rem;
  width: 85%;
  display: flex;
}
form .normal.info .dataField {
  height: 200px;
}
form .sale.info .dataField {
  height: fit-content;
}
form .info .dataField .col-4 {
  display: flex;
  flex-direction: column;
}
form .sale.info .dataField .saleEvent {
  display: flex;
  align-items: center;
  height: 1rem;
  gap: 2rem;
}
form .sale.info .dataField .saleEvent input {
  width: 1rem;
}
form .sale.info .dataField .saleEvent p {
  margin: 0;
}

form .timeUse.info {
  margin-top: 7rem;
}

form .timeUse.info .dataField .input-wrapper img {
  height: 30px;

  right: 0;
}
form .btn-wrapper {
  text-align: center;
}
form .btn-wrapper button {
  background-color: white;
  color: black;
  padding: 0.8rem 4rem;
}

form .timeUse.info .dataField input {
  width: 180px;
}

form .timeUse.info .dataField .startDay {
  margin-right: 13rem;
}
main .title-wrapper {
  margin-bottom: 3.5rem;
}
/* toastBox */
.toastBox {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.customToast {
  width: 400px;
  height: 3rem;
  background-color: #d9d9d9;
  font-weight: 600;
  margin: 15px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}
.customToast i {
  margin-right: 20px;
}
