* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
/* header */
#header {
  display: flex;
  justify-content: center;
}
.header-container {
  margin: 20px 4rem;
  display: flex;
  text-align: center;

  align-items: center;
}
.header-container img {
  width: 80px;
  height: 46px;
}
.header-container .navigation {
  margin-left: 2rem;
  margin-right: 2rem;
}
.header-container .navigation ul {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header-container .navigation ul li {
  list-style: none;
  text-transform: uppercase;
  position: relative;
}
.header-container .navigation ul li:hover a {
  color: white;
  background-color: black;
  transition: 0.3s ease;
}
.header-container .navigation ul li a {
  display: inline;
  padding: 10px;
  text-decoration: none;
  font-size: 14px;
  color: #828282;
}
.header-container .search {
  position: relative;
  margin-left: 150px;
  margin-right: 3rem;
}
.header-container .search input {
  padding: 15px;
  width: 312px;
  border-radius: 1rem;
  height: 30px;
  border: 1px solid #828282;
}
.header-container .search i {
  position: absolute;
  top: 8px;
  right: 1em;
  color: #828282;
}
.header-container .activity {
  margin-top: 10px;
}
.header-container .activity img {
  margin-left: 10px;
  width: 22px;
  height: 22px;
}
.header-container .activity .img-wrapper {
  position: relative;
}
.header-container .activity .img-wrapper::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: black;
  top: -5px;
  left: 13px;
}

/* homepage */
.slideshow {
  display: flex;
  justify-content: center;
}
.slideshow img {
  width: 100%;
  height: 70vh;
}
.list-item .container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.list-item .best-seller .img-wrapper {
  display: flex;
  gap: 30px;
}
.list-item .best-seller .img-wrapper img {
  height: 320px;
  width: 640px;
}
.list-item .title-wrapper {
  margin-top: 15px;
  position: relative;
}
.list-item .title-wrapper .title {
  text-transform: uppercase;
  color: #345fce;
  font-weight: 600;
}

.list-item .title-wrapper .title::before {
  content: "";
  position: absolute;
  top: 50%;
  width: 44%;
  height: 1px;
  left: 0;
  background-color: #8282825c;
}
.list-item .title-wrapper .title::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 44%;
  height: 1px;
  right: 0;
  background-color: #8282825c;
}
.list-item .T-shirt,
.list-time .best-seller {
  width: 1310px;
  margin-top: 20px;
}
.list-item .T-shirt img {
  width: 321px;
  height: 321px;
}

/* footer */
#footer {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.hotline {
  height: 60px;
  background-color: #d9d9d9;
}
.footer-wrapper .hotline .container {
  height: 100%;
  align-items: center;
  display: flex;
}
.footer-wrapper .hotline .container .help {
  margin-left: 20px;
  font-size: 1.2rem;
}
.footer-wrapper .hotline .container i {
  font-size: 22px;
}
.footer-wrapper .hotline .container .help span {
  color: red;
}

.footer-wrapper .container-wrapper {
  margin-top: 50px;
  font-size: 19px;
}
.footer-wrapper .container-wrapper .info-wrapper {
  display: flex;
  gap: 13rem;
}
.footer-wrapper .container-wrapper .info-wrapper .righ-info .company {
  margin: 2rem 0;
  font-weight: 600;
}
.footer-wrapper .container-wrapper .info-wrapper .righ-info .loca1,
.footer-wrapper .container-wrapper .info-wrapper .righ-info .loca2,
.footer-wrapper .container-wrapper .info-wrapper .righ-info .phone,
.footer-wrapper .container-wrapper .info-wrapper .righ-info .email {
  display: flex;
  gap: 5px;
}
