.gi-hng {
  font-weight: 300;
  white-space: pre-wrap;
}
.chi-tit-thanh {
  font-weight: 500;
}
.hon-thnh {
  font-weight: 300;
}
.gi-hng-container {
  width: 375.7px;
  position: relative;
  line-height: 150%;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
}
.gi-hng-chi-tit-thanh-ton-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 var(--padding-mid-3) var(--padding-lg);
  box-sizing: border-box;
  max-width: 100%;
}
.checkout-content-child {
  position: absolute;
  top: 0;
  left: 1.6px;
  background-color: var(--color-gainsboro-100);
  border-top: 1.4px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 439.3px;
  height: 1.4px;
}
.thng-tin-thanh {
  position: relative;
  line-height: 22px;
  font-weight: 800;
}
.payment-info-title {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
}
.h-v-tn {
  position: relative;
  line-height: 16px;
  font-weight: 800;
  display: inline-block;
  min-width: 58px;
}
.full-name-input-child {
  height: 44.7px;
  width: 437.9px;
  position: relative;
  background-color: var(--color-white);
  border: 0.3px solid var(--color-black);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.h-tn-ca {
  width: 70px;
  border: 0;
  outline: 0;
  font-weight: 300;
  font-family: var(--font-inter);
  font-size: var(--font-size-3xs-7);
  background-color: transparent;
  height: 15px;
  position: relative;
  line-height: 150%;
  color: var(--color-gray-100);
  text-align: left;
  display: inline-block;
  padding: 0;
  z-index: 1;
}
.full-name-input,
.h-v-tn-parent {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.full-name-input {
  background-color: var(--color-white);
  border: 0.3px solid var(--color-black);
  box-sizing: border-box;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-5xs) var(--padding-lg);
}
.h-v-tn-parent {
  flex-direction: column;
  gap: 15.1px;
}
.s-in-thoi {
  position: relative;
  line-height: 16px;
  font-weight: 800;
  display: inline-block;
  min-width: 77px;
}
.phone-address-inputs-child {
  height: 44.9px;
  width: 192.4px;
  position: relative;
  background-color: var(--color-white);
  border: 0.3px solid var(--color-black);
  box-sizing: border-box;
  display: none;
}
.s-in-thoi1 {
  width: 99.1px;
  border: 0;
  outline: 0;
  font-weight: 300;
  font-family: var(--font-inter);
  font-size: var(--font-size-3xs-7);
  background-color: transparent;
  height: 15px;
  position: relative;
  line-height: 150%;
  color: var(--color-gray-100);
  text-align: left;
  display: inline-block;
  padding: 0;
  z-index: 1;
}
.phone-address-inputs,
.phone-address-labels {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.phone-address-inputs {
  background-color: var(--color-white);
  border: 0.3px solid var(--color-black);
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-5xs) var(--padding-mid);
}
.phone-address-labels {
  flex-direction: column;
  gap: var(--gap-xs-3);
}
.tnhthnh-ph {
  position: relative;
  line-height: 16px;
  font-weight: 800;
  display: inline-block;
  min-width: 93px;
}
.city-input-child {
  height: 44.9px;
  width: 192.4px;
  position: relative;
  background-color: var(--color-white);
  border: 0.3px solid var(--color-black);
  box-sizing: border-box;
  display: none;
}
.chn-tnhthnh-ph {
  width: 93.6px;
  border: 0;
  outline: 0;
  font-weight: 300;
  font-family: var(--font-inter);
  font-size: var(--font-size-3xs-7);
  background-color: transparent;
  height: 15px;
  position: relative;
  line-height: 150%;
  color: var(--color-gray-100);
  text-align: left;
  display: inline-block;
  padding: 0;
  z-index: 1;
}
.city-dropdown,
.city-input,
.city-selection {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.city-input {
  flex: 1;
  background-color: var(--color-white);
  border: 0.3px solid var(--color-black);
  flex-direction: row;
  padding: var(--padding-2xs) var(--padding-2xs) var(--padding-mid);
}
.city-dropdown,
.city-selection {
  align-self: stretch;
}
.city-dropdown {
  flex-direction: row;
  padding: 0 0 0 var(--padding-12xs);
}
.city-selection {
  flex-direction: column;
  gap: 16.7px;
}
.x-phng {
  position: relative;
  line-height: 16px;
  font-weight: 800;
  display: inline-block;
  min-width: 71px;
}
.frame-child {
  height: 44.9px;
  width: 192.4px;
  position: relative;
  background-color: var(--color-white);
  border: 0.3px solid var(--color-black);
  box-sizing: border-box;
  display: none;
}
.chn-xphng {
  width: 75.5px;
  border: 0;
  outline: 0;
  font-weight: 300;
  font-family: var(--font-inter);
  font-size: var(--font-size-3xs-7);
  background-color: transparent;
  height: 15px;
  position: relative;
  line-height: 150%;
  color: var(--color-gray-100);
  text-align: left;
  display: inline-block;
  padding: 0;
  z-index: 1;
}
.rectangle-parent {
  align-self: stretch;
  background-color: var(--color-white);
  border: 0.3px solid var(--color-black);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) var(--padding-4xs) var(--padding-lg);
}
.contact-inputs,
.phone-address-labels1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.phone-address-labels1 {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-mid);
}
.contact-inputs {
  flex: 1;
  align-items: flex-end;
  gap: 47px;
  min-width: 126px;
}
.a-ch-email {
  position: relative;
  line-height: 16px;
  font-weight: 800;
}
.email-ca-bn,
.email-input-child {
  height: 44.9px;
  width: 192.4px;
  position: relative;
  display: none;
}
.email-ca-bn {
  width: 63.3px;
  border: 0;
  outline: 0;
  font-weight: 300;
  font-family: var(--font-inter);
  font-size: var(--font-size-3xs-7);
  background-color: transparent;
  height: 15px;
  line-height: 150%;
  color: var(--color-gray-100);
  text-align: left;
  display: inline-block;
  padding: 0;
  z-index: 1;
}
.a-ch-email-khng-bt-buc-parent,
.email-input {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.email-input {
  background-color: var(--color-white);
  border: 0 solid var(--color-black);
  flex-direction: row;
  padding: 12.5px var(--padding-5xs) 17.4px;
}
.a-ch-email-khng-bt-buc-parent {
  flex-direction: column;
  gap: var(--gap-xs-3);
}
.qunhuyn {
  width: 92px;
  position: relative;
  line-height: 16px;
  font-weight: 800;
  display: inline-block;
}
.district-address-input-fields-child {
  height: 44.9px;
  width: 192.4px;
  position: relative;
  background-color: var(--color-white);
  border: 0.3px solid var(--color-black);
  box-sizing: border-box;
  display: none;
}
.chn-qun-huyn {
  width: 80.1px;
  border: 0;
  outline: 0;
  font-weight: 300;
  font-family: var(--font-inter);
  font-size: var(--font-size-3xs-7);
  background-color: transparent;
  height: 15px;
  position: relative;
  line-height: 150%;
  color: var(--color-gray-100);
  text-align: left;
  display: inline-block;
  padding: 0;
  z-index: 1;
}
.district-address-input-fields,
.district-address-labels {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.district-address-input-fields {
  background-color: var(--color-white);
  border: 0.3px solid var(--color-black);
  flex-direction: row;
  padding: var(--padding-2xs) var(--padding-5xs) var(--padding-mid);
}
.district-address-labels {
  flex-direction: column;
  gap: var(--gap-mini-3);
}
.a-ch {
  position: relative;
  line-height: 16px;
  font-weight: 800;
  display: inline-block;
  min-width: 44px;
}
.frame-item {
  height: 44.9px;
  width: 192.4px;
  position: relative;
  background-color: var(--color-white);
  border: 0.3px solid var(--color-black);
  box-sizing: border-box;
  display: none;
}
.v-d-s {
  width: 90.4px;
  border: 0;
  outline: 0;
  font-weight: 300;
  font-family: var(--font-inter);
  font-size: var(--font-size-3xs-7);
  background-color: transparent;
  height: 15px;
  position: relative;
  line-height: 150%;
  color: var(--color-gray-100);
  text-align: left;
  display: inline-block;
  padding: 0;
  z-index: 1;
}
.rectangle-group {
  align-self: stretch;
  background-color: var(--color-white);
  border: 0.3px solid var(--color-black);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-5xs) var(--padding-base);
}
.district-address-labels1 {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-mini-3);
}
.contact-inputs-parent,
.district-address-inputs,
.district-address-labels1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.district-address-inputs {
  flex: 1;
  flex-direction: column;
  gap: 49.6px;
  min-width: 126px;
}
.contact-inputs-parent {
  align-self: stretch;
  flex-direction: row;
  gap: 53.1px;
}
.frame-parent,
.payment-info-title-parent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent {
  align-self: stretch;
  align-items: flex-end;
  gap: 39.2px;
  font-size: var(--font-size-2xs-6);
}
.payment-info-title-parent {
  flex: 1;
  align-items: flex-start;
  gap: 53.3px;
  min-width: 285px;
}
.frame-inner {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.n-hng-ca {
  position: relative;
  z-index: 1;
}
.order-summary-title {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 19.9px;
  font-size: var(--font-size-mini-6);
}
.sn-phm,
.tm-tnh {
  position: relative;
  line-height: 16px;
  display: inline-block;
  min-width: 58px;
  z-index: 1;
}
.tm-tnh {
  white-space: pre-wrap;
  min-width: 56px;
}
.product-subtotal-labels {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.table-header-divider {
  align-self: stretch;
  height: 2.7px;
  position: relative;
  background-color: var(--color-gainsboro-200);
  border-top: 2.7px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  mix-blend-mode: darken;
  z-index: 1;
}
.order-table,
.table-header {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.table-header {
  width: 240.9px;
  flex-direction: column;
  gap: 14.6px;
}
.order-table {
  flex-direction: row;
  padding: 0 var(--padding-base) 5.7px var(--padding-sm);
}
.o1,
.size {
  margin: 0;
}
.o {
  position: relative;
  line-height: 150%;
  font-weight: 300;
  z-index: 1;
}
.giao-hng,
.tm-tnh1,
.tng {
  position: relative;
  line-height: 16px;
  display: inline-block;
  min-width: 46px;
  z-index: 1;
}
.giao-hng,
.tng {
  min-width: 53px;
}
.tng {
  min-width: 27px;
}
.price-labels {
  flex-direction: column;
  gap: var(--gap-18xl-3);
}
.order-item-description,
.order-item-pricing,
.price-labels {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.order-item-pricing {
  flex-direction: row;
  padding: 0 var(--padding-12xs);
}
.order-item-description {
  flex-direction: column;
  gap: 45.4px;
}
.b,
.b1,
.b2,
.b3 {
  position: relative;
  line-height: 16px;
  display: inline-block;
  min-width: 54px;
  z-index: 1;
}
.price-value,
.total-prices {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.total-prices {
  gap: var(--gap-18xl-3);
}
.price-value {
  gap: 51.4px;
  color: var(--color-red);
}
.order-item-details {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.order-item {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-lgi) 0 var(--padding-xs);
}
.payment-option-divider {
  height: 2.7px;
  flex: 1;
  position: relative;
  background-color: var(--color-gainsboro-200);
  border-top: 2.7px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  mix-blend-mode: darken;
  z-index: 1;
}
.bank-transfer-option {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-12xs);
}
.transfer-description-child {
  height: 27.9px;
  width: 238.7px;
  position: relative;
  background-color: var(--color-gainsboro-100);
  display: none;
}
.chuyn-khon-qua {
  align-self: stretch;
  position: relative;
  line-height: 16px;
  z-index: 2;
}
.transfer-label {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 4.3px 0 0;
}
.more-than-icon {
  height: 24.4px;
  width: 24.4px;
  position: relative;
  object-fit: contain;
  z-index: 2;
}
.payment-option,
.transfer-description {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.transfer-description {
  background-color: var(--color-gainsboro-100);
  flex-direction: row;
  padding: 0 var(--padding-10xs) var(--padding-9xs-5) var(--padding-5xs);
  gap: 32.4px;
  z-index: 1;
}
.payment-option {
  flex-direction: column;
  gap: var(--gap-10xs);
}
.order-button-child {
  height: 35.7px;
  width: 98.2px;
  position: relative;
  background-color: var(--color-black);
  display: none;
}
.t-hng {
  position: relative;
  line-height: 20px;
  font-weight: 800;
  display: inline-block;
  min-width: 77.7px;
  z-index: 2;
}
.order-button,
.order-button-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.order-button {
  background-color: var(--color-black);
  padding: var(--padding-7xs-4) var(--padding-5xs) 10.3px var(--padding-smi);
  white-space: nowrap;
  z-index: 1;
}
.order-button-wrapper {
  padding: 0 var(--padding-12xs);
  font-size: var(--font-size-smi);
  color: var(--color-white);
}
.payment-method-details {
  flex: 1;
  flex-direction: column;
  gap: 18.4px;
}
.payment-method,
.payment-method-details,
.vector-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.payment-method {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-lg) 0 var(--padding-xs);
}
.vector-parent {
  width: 329.4px;
  flex-direction: column;
  padding: 46.8px var(--padding-10xl) var(--padding-40xl);
  box-sizing: border-box;
  position: relative;
  gap: 28.4px;
  min-width: 329.4px;
  max-width: 100%;
  font-size: var(--font-size-2xs-6);
}
.checkout-form {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  gap: var(--gap-10xl-3);
  max-width: 100%;
  height: 100%;
}
.checkout-content {
  align-self: stretch;
  height: 555.6px;
  position: relative;
  max-width: 100%;
  font-size: var(--font-size-mini-6);
}
.gh-i-ch {
  position: relative;
  line-height: 16px;
  font-weight: 800;
  white-space: pre-wrap;
}
.order-notes-input-child {
  height: 101.2px;
  width: 437.9px;
  position: relative;
  background-color: var(--color-white);
  border: 0.3px solid var(--color-black);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.ghi-ch-v {
  position: relative;
  line-height: 15px;
  font-weight: 300;
  z-index: 1;
}
.gh-i-ch-n-hng-khng-bt-b-parent,
.order-notes-input,
.root {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.order-notes-input {
  align-self: stretch;
  background-color: var(--color-white);
  border: 0.3px solid var(--color-black);
  box-sizing: border-box;
  flex-direction: row;
  padding: var(--padding-7xs) var(--padding-7xs) 79px;
  white-space: nowrap;
  max-width: 100%;
  font-size: var(--font-size-3xs-7);
  color: var(--color-gray-100);
}
.gh-i-ch-n-hng-khng-bt-b-parent,
.root {
  flex-direction: column;
}
.gh-i-ch-n-hng-khng-bt-b-parent {
  width: 437.9px;
  gap: 12.9px;
  max-width: 100%;
  font-size: var(--font-size-2xs-6);
}
.root {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  padding: 101px 320px 101.9px 321px;
  box-sizing: border-box;
  gap: 49.3px;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-smi);
  color: var(--color-black);
  font-family: var(--font-inter);
}
@media screen and (max-width: 975px) {
  .vector-parent {
    flex: 1;
  }
  .checkout-form {
    flex-wrap: wrap;
  }
  .checkout-content {
    height: auto;
    min-height: 555.6000000000022;
  }
}
@media screen and (max-width: 950px) {
  .root {
    gap: var(--gap-6xl);
    padding-left: var(--padding-141xl);
    padding-right: var(--padding-141xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .contact-inputs-parent {
    flex-wrap: wrap;
    gap: var(--gap-8xl);
  }
  .frame-parent {
    gap: var(--gap-xl);
  }
  .payment-info-title-parent {
    gap: var(--gap-8xl);
  }
  .root {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;
  --font-inder: Inder;

  /* font sizes */
  --font-size-3xs-7: 9.7px;
  --font-size-2xs-6: 10.6px;
  --font-size-smi: 13px;
  --font-size-mini-6: 14.6px;
  --font-size-6xl-4: 25.4px;
  --font-size-xl: 20px;
  --font-size-7xl: 26px;
  --font-size-8xl-1: 27.1px;
  --font-size-2xl: 21px;
  --font-size-lg-9: 18.9px;
  --font-size-4xl-8: 23.8px;
  --font-size-mid-7: 17.7px;
  --font-size-sm-8: 13.8px;
  --font-size-4xl-5: 23.5px;
  --font-size-lgi: 19px;
  --font-size-mid-8: 17.8px;
  --font-size-base-2: 16.2px;
  --font-size-2xs-3: 10.3px;
  --font-size-mini-7: 14.7px;
  --font-size-2xl-2: 21.2px;
  --font-size-mid: 17px;
  --font-size-base: 16px;
  --font-size-2xl-6: 21.6px;
  --font-size-base-9: 16.9px;
  --font-size-lgi-1: 19.1px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-gray-100: #828282;
  --color-gray-200: #1c1c1c;
  --color-gray-300: #151414;
  --color-gainsboro-100: #d9d9d9;
  --color-gainsboro-200: #d8d8d8;
  --color-gainsboro: rgba(217, 217, 217, 0.53);
  --color-red: #f52020;

  /* Gaps */
  --gap-6xl: 25px;
  --gap-10xl-3: 29.3px;
  --gap-10xs: 3px;
  --gap-xl: 20px;
  --gap-18xl-3: 37.3px;
  --gap-8xl: 27px;
  --gap-mini-3: 14.3px;
  --gap-xs-3: 11.3px;
  --gap-mid: 17px;
  --gap-mini: 15px;
  --gap-12xl: 31px;
  --gap-11xl: 30px;
  --gap-lg: 18px;
  --gap-24xl-6: 43.6px;
  --gap-3xl: 22px;
  --gap-7xs-5: 5.5px;
  --gap-base: 16px;
  --gap-9xl: 28px;
  --gap-mid-4: 17.4px;
  --gap-15xl-8: 34.8px;
  --gap-9xl-9: 28.9px;
  --gap-12xs-9: 0.9px;
  --gap-2xs-5: 10.5px;
  --gap-3xs-3: 9.3px;
  --gap-smi-6: 12.6px;
  --gap-lgi: 19px;
  --gap-19xl: 38px;
  --gap-lgi-8: 19.8px;
  --gap-smi: 13px;
  --gap-2xs: 11px;
  --gap-16xl: 35px;
  --gap-smi-5: 12.5px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-141xl: 160px;
  --padding-7xs: 6px;
  --padding-10xl: 29px;
  --padding-40xl: 59px;
  --padding-lg: 18px;
  --padding-xs: 12px;
  --padding-12xs: 1px;
  --padding-7xs-4: 5.4px;
  --padding-5xs: 8px;
  --padding-smi: 13px;
  --padding-10xs: 3px;
  --padding-9xs-5: 3.5px;
  --padding-lgi: 19px;
  --padding-base: 16px;
  --padding-sm: 14px;
  --padding-2xs: 11px;
  --padding-mid: 17px;
  --padding-4xs: 9px;
  --padding-3xs: 10px;
  --padding-mid-3: 17.3px;
  --padding-84xl: 103px;
  --padding-6xl: 25px;
  --padding-43xl-2: 62.2px;
  --padding-21xl: 40px;
  --padding-3xl: 22px;
  --padding-8xs: 5px;
  --padding-28xl: 47px;
  --padding-29xl: 48px;
  --padding-42xl: 61px;
  --padding-43xl: 62px;
  --padding-smi-8: 12.8px;
  --padding-smi-7: 12.7px;
  --padding-mini: 15px;
  --padding-6xs: 7px;
  --padding-11xs: 2px;
  --padding-14xl: 33px;
  --padding-38xl-1: 57.1px;
  --padding-290xl: 309px;
  --padding-135xl: 154px;
  --padding-4xl: 23px;
  --padding-4xs-4: 8.4px;
  --padding-11xl-3: 30.3px;
  --padding-7xs-9: 5.9px;
  --padding-2xs-7: 10.7px;
  --padding-55xl: 74px;
  --padding-11xl: 30px;
  --padding-80xl: 99px;
  --padding-7xs-2: 5.2px;
  --padding-27xl: 46px;
  --padding-8xs-5: 4.5px;
  --padding-10xs-3: 2.3px;
  --padding-5xl: 24px;
  --padding-7xl: 26px;
  --padding-6xs-4: 6.4px;
  --padding-9xs: 4px;
  --padding-10xl-1: 29.1px;
  --padding-18xl: 37px;
  --padding-16xl: 35px;
  --padding-8xs-6: 4.6px;
  --padding-48xl: 67px;
  --padding-47xl: 66px;
  --padding-15xl: 34px;
  --padding-20xl: 39px;
  --padding-17xl: 36px;
  --padding-11xs-7: 1.7px;
  --padding-12xs-4: 0.4px;
  --padding-2xl: 21px;
  --padding-6xs-5: 6.5px;
  --padding-xs-8: 11.8px;

  /* Border radiuses */
  --br-8xs-3: 4.3px;
  --br-30xl: 49px;
  --br-10xl-3: 29.3px;
}
