.div,
.div1,
.div2 {
  position: relative;
  line-height: 25px;
  display: none;
  min-width: 9px;
}
.desktop-1-child,
.frame-child {
  width: 27.3px;
  height: 23px;
  position: relative;
  display: none;
}
.frame-child {
  width: 999.5px;
  height: 107.3px;
  background-color: var(--color-gainsboro);
  max-width: 100%;
}
.ti-khon-ca,
.trang-ti-khon {
  width: 179px;
  position: relative;
  letter-spacing: 0.16em;
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
  z-index: 1;
}
.trang-ti-khon {
  width: 147.5px;
  font-size: 9px;
  line-height: 14px;
  font-weight: 500;
}
.desktop-1-inner,
.rectangle-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle-parent {
  flex: 1;
  background-color: var(--color-gainsboro);
  flex-direction: column;
  padding: 29.9px var(--padding-xl) 32.2px 161px;
  gap: 11.2px;
}
.desktop-1-inner {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 6.9px;
  text-align: left;
  font-size: var(--font-size-smi-9);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.admin,
.avata-1-icon {
  position: relative;
  flex-shrink: 0;
  debug_commit: 448091;
}
.avata-1-icon {
  height: 46.7px;
  width: 46.7px;
  border-radius: 23.34px;
  object-fit: contain;
}
.admin {
  align-self: stretch;
  line-height: 20px;
  font-weight: 500;
  background: linear-gradient(180deg, #828282, #1c1c1c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.avata-1-parent,
.delete-product-link {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.delete-product-link {
  flex: 1;
  flex-direction: column;
  padding: 23.3px 0 0;
}
.avata-1-parent {
  width: 149.8px;
  flex-direction: row;
  padding: 0 0 10.3px;
  box-sizing: border-box;
  gap: 29.1px;
}
.trang-ti-khon1 {
  margin: 0;
}
.trang-ti-khon-container {
  position: relative;
  line-height: 151%;
  font-weight: 300;
}
.admin-name-child {
  height: 0.5px;
  flex: 1;
  position: relative;
  border-top: 0.5px solid var(--color-gray-100);
  box-sizing: border-box;
}
.admin-name,
.page-info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.admin-name {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-12xs);
}
.page-info {
  width: 219.5px;
  flex-direction: column;
  gap: 1.7px;
}
.ti-khon {
  width: 102.4px;
  position: relative;
  line-height: 151%;
  font-weight: 300;
  display: inline-block;
}
.frame-item {
  height: 0.5px;
  flex: 1;
  position: relative;
  border-top: 0.5px solid var(--color-gray-100);
  box-sizing: border-box;
}
.logout-button-inner {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-12xs);
}
.thot1 {
  margin: 0;
}
.thot {
  width: 102.4px;
  position: relative;
  line-height: 151%;
  font-weight: 300;
  display: inline-block;
}
.logout-button,
.logout-button-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.logout-button {
  flex: 1;
  flex-direction: column;
  gap: 8.5px;
}
.logout-button-wrapper {
  width: 222.3px;
  flex-direction: row;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
}
.thm-sn-phm {
  position: relative;
  line-height: 25px;
  display: inline-block;
  min-width: 125px;
}
.logout-link {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  font-size: var(--font-size-base-5);
  font-family: var(--font-inder);
}
.navigation,
.page-info-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.page-info-parent {
  flex: 1;
  flex-direction: column;
  gap: 15.5px;
}
.navigation {
  width: 399.4px;
  flex-direction: row;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
}
.image-upload-child,
.preview-image {
  position: relative;
  background-color: var(--color-gainsboro-100);
}
.image-upload-child {
  width: 290.7px;
  height: 365px;
  display: none;
}
.preview-image {
  width: 25.8px;
  height: 25.8px;
  z-index: 1;
}
.placeholder-icon {
  height: 38.8px;
  width: 40.4px;
  position: relative;
  z-index: 1;
}
.add-product-link {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
}
.add-product-link,
.preview-container,
.upload-icon {
  display: flex;
  justify-content: flex-start;
}
.preview-container {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: 38.2px;
}
.upload-icon {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-12xs) 0 var(--padding-14xl);
}
.thm-nh {
  width: 114px;
  position: relative;
  line-height: 150%;
  white-space: pre-wrap;
  display: inline-block;
  z-index: 1;
}
.image-upload {
  width: 290.7px;
  background-color: var(--color-gainsboro-100);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 96.2px 53px 91.6px 93px;
  box-sizing: border-box;
  gap: 42.7px;
}
.horizontal-rule {
  width: 0.5px;
  flex: 1;
  position: relative;
  border-right: 0.5px solid var(--color-black);
  box-sizing: border-box;
}
.first-divider {
  height: 366.3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 7.5px var(--padding-3xs) 0 0;
  box-sizing: border-box;
}
.frame-inner,
.product-details-inner {
  align-self: stretch;
  box-sizing: border-box;
  max-width: 100%;
}
.frame-inner {
  flex: 1;
  position: relative;
  border-top: 0.3px solid var(--color-black);
  z-index: 1;
}
.product-details-inner {
  height: 14px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 13.7px;
}
.m-sn-phm {
  flex: 1;
  position: relative;
  line-height: 20px;
  white-space: pre-wrap;
}
.m-sn-phm-wrapper {
  width: 239.4px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-5xs);
  box-sizing: border-box;
}
.product-name-field-child {
  align-self: stretch;
  height: 0.5px;
  position: relative;
  border-top: 0.5px solid var(--color-black);
  box-sizing: border-box;
}
.product-id-input,
.product-name-field {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.product-name-field {
  flex: 1;
  flex-direction: column;
  gap: 7px;
}
.product-id-input {
  width: 404.1px;
  flex-direction: row;
  padding: 0 var(--padding-2xl);
  box-sizing: border-box;
}
.line-icon {
  height: 373.9px;
  width: 8.8px;
  position: absolute;
  margin: 0 !important;
  bottom: -240.9px;
  left: -4.3px;
  object-fit: contain;
}
.tn-sn-phm {
  flex: 1;
  position: relative;
  line-height: 20px;
}
.product-i-d-field {
  width: 230.6px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
}
.description-input-child {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
  margin-top: -1px;
}
.description-input,
.quantity-input,
.vector-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.description-input {
  flex: 1;
  flex-direction: column;
  gap: 9.4px;
}
.quantity-input,
.vector-parent {
  flex-direction: row;
}
.quantity-input {
  flex: 1;
  padding: 0 0 var(--padding-6xs-2) var(--padding-4xl);
  box-sizing: border-box;
}
.vector-parent {
  width: 381.5px;
  position: relative;
}
.gii-thiu-sn {
  flex: 1;
  position: relative;
  line-height: 20px;
}
.product-name-label {
  width: 289.6px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
}
.description-input-item {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
  margin-top: -1px;
}
.description-input1,
.product-i-d {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.description-input1 {
  flex: 1;
  flex-direction: column;
  gap: 0.1px;
}
.product-i-d {
  width: 404.5px;
  flex-direction: row;
  padding: 0 var(--padding-4xl) 12.6px;
  box-sizing: border-box;
}
.price-input-child {
  position: absolute;
  top: 19.4px;
  left: 0;
  width: 358px;
  height: 1.3px;
  object-fit: contain;
}
.gi-sn-phm {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 150%;
  display: inline-block;
  width: 188px;
  height: 23.7px;
  z-index: 1;
}
.price-input {
  height: 23.7px;
  flex: 1;
  position: relative;
  max-width: 100%;
}
.product-name-input {
  width: 400.2px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-2xl) 5.7px;
  box-sizing: border-box;
  max-width: 100%;
}
.dropdown-items-child {
  height: 1.3px;
  width: 358px;
  position: absolute;
  margin: 0 !important;
  right: -332.2px;
  bottom: 2.5px;
  object-fit: contain;
}
.size {
  height: 23.7px;
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 24px;
  z-index: 1;
}
.dropdown-items,
.extra-size {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.dropdown-items {
  flex-direction: row;
  position: relative;
}
.extra-size {
  flex-direction: column;
  padding: 8.5px 0 0;
}
.rectangle-div {
  height: 23px;
  width: 27.3px;
  position: relative;
  background-color: var(--color-gainsboro-100);
  display: none;
}
.s {
  position: relative;
  line-height: 25px;
  display: inline-block;
  min-width: 9px;
  z-index: 2;
}
.frame-child1,
.rectangle-group {
  background-color: var(--color-gainsboro-100);
}
.rectangle-group {
  flex: 0.3773;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-5xs) 0 var(--padding-4xs);
  z-index: 1;
}
.frame-child1 {
  height: 23px;
  width: 27.3px;
  position: relative;
  display: none;
}
.l {
  position: relative;
  line-height: 25px;
  display: inline-block;
  min-width: 9px;
  z-index: 2;
}
.rectangle-container {
  flex: 0.3773;
  background-color: var(--color-gainsboro-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-5xs) 0 var(--padding-4xs);
  z-index: 1;
}
.extra-size-label-child {
  height: 23px;
  width: 27.3px;
  position: relative;
  background-color: var(--color-gainsboro-100);
  display: none;
}
.xl {
  position: relative;
  line-height: 25px;
  display: inline-block;
  min-width: 18px;
  z-index: 2;
}
.extra-size-label {
  align-self: stretch;
  background-color: var(--color-gainsboro-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-11xs);
  z-index: 1;
}
.description-field {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1.3px 0 0;
}
.product-i-d-input {
  width: 114.5px;
  justify-content: flex-start;
  gap: var(--gap-base-3);
  font-size: var(--font-size-base-5);
}
.product-description,
.product-i-d-input,
.size-options {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.size-options {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.product-description {
  width: 248.6px;
  justify-content: flex-start;
  padding: 0 var(--padding-7xl) 4.2px;
  box-sizing: border-box;
}
.s-lng {
  align-self: stretch;
  position: relative;
  line-height: 20px;
  flex-shrink: 0;
  debug_commit: 448091;
}
.quantity-divider {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.quantity-controls-child {
  height: 19.9px;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: 1px;
  left: 0;
  max-width: 100%;
  overflow: hidden;
}
.increase-quantity-child {
  position: absolute;
  top: 0;
  left: 15.5px;
  border-right: 0.3px solid var(--color-black);
  box-sizing: border-box;
  width: 0.3px;
  height: 20.1px;
  z-index: 1;
}
.minus-symbol-icon {
  position: absolute;
  top: 5.4px;
  left: 0;
  width: 5.4px;
  height: 8.7px;
  z-index: 1;
}
.increase-quantity {
  width: 15.8px;
  height: 19.9px;
  position: relative;
}
.minus-icon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-12xs);
}
.size-labels-child {
  width: 0.3px;
  height: 20.1px;
  position: relative;
  border-right: 0.3px solid var(--color-black);
  box-sizing: border-box;
  z-index: 1;
}
.size-labels {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 4.1px 0 0;
}
.div3 {
  position: relative;
  line-height: 25px;
  display: inline-block;
  min-width: 9px;
  z-index: 1;
}
.quantity-controls,
.size-buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs-5);
}
.quantity-controls {
  flex: 0.7407;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 var(--padding-xs) 0 var(--padding-4xs);
  position: relative;
  flex-shrink: 0;
  debug_commit: 448091;
  gap: var(--gap-xl);
  font-size: var(--font-size-base-5);
}
.input-container,
.input-container-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.input-container {
  flex: 1;
  gap: 4.7px;
}
.input-container-wrapper {
  width: 211.1px;
  padding: 0 var(--padding-3xl);
  box-sizing: border-box;
}
.size-options-child {
  align-self: stretch;
  height: 0.5px;
  position: relative;
  border-top: 0.5px solid var(--color-black);
  box-sizing: border-box;
  z-index: 1;
}
.product-details,
.size-options1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.size-options1 {
  align-self: stretch;
  gap: 7.7px;
}
.product-details {
  flex: 1;
  gap: 27.1px;
  min-width: 279px;
  max-width: 100%;
  font-size: var(--font-size-smi-9);
}
.product-form {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 26.9px;
  font-size: 21.8px;
  font-family: var(--font-inder);
}
.product-form,
.product-quantity,
.product-quantity-wrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.product-quantity {
  width: 785.1px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 23.5px;
}
.product-quantity-wrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 0 0 var(--padding-10xs);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-smi-9);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.submit-button-child {
  height: 31.7px;
  width: 142.4px;
  position: relative;
  background-color: var(--color-gray-300);
  display: none;
}
.thm-mi {
  position: relative;
  line-height: 25px;
  display: inline-block;
  min-width: 78px;
  z-index: 1;
}
.submit-button,
.submit-button1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.submit-button1 {
  background-color: var(--color-gray-300);
  justify-content: flex-start;
  padding: var(--padding-9xs-6) var(--padding-13xl) 3.1px;
  white-space: nowrap;
}
.submit-button {
  width: 646.4px;
  justify-content: center;
  max-width: 100%;
  color: var(--color-white);
}
.desktop-1 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 81px 220px 80.8px;
  box-sizing: border-box;
  gap: 51.6px;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-base-5);
  color: var(--color-black);
  font-family: var(--font-inder);
}
@media screen and (max-width: 725px) {
  .desktop-1 {
    gap: 26px;
    padding-left: var(--padding-91xl);
    padding-right: var(--padding-91xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .rectangle-parent {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .thm-nh {
    font-size: var(--font-size-mid);
    line-height: 26px;
  }
  .image-upload {
    gap: 21px;
    padding: 63px var(--padding-xl) 60px;
    box-sizing: border-box;
  }
  .desktop-1 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inder: Inder;
  --font-inter: Inter;

  /* font sizes */
  --font-size-base-5: 16.5px;
  --font-size-smi-9: 12.9px;
  --font-size-mid: 17px;
  --font-size-6xl-4: 25.4px;
  --font-size-xl: 20px;
  --font-size-7xl: 26px;
  --font-size-8xl-1: 27.1px;
  --font-size-2xl: 21px;
  --font-size-lg-9: 18.9px;
  --font-size-4xl-8: 23.8px;
  --font-size-mid-7: 17.7px;
  --font-size-sm-8: 13.8px;
  --font-size-4xl-5: 23.5px;
  --font-size-lgi: 19px;
  --font-size-mid-8: 17.8px;
  --font-size-base-2: 16.2px;
  --font-size-2xs-3: 10.3px;
  --font-size-mini-7: 14.7px;
  --font-size-2xl-2: 21.2px;
  --font-size-base: 16px;
  --font-size-smi: 13px;
  --font-size-lgi-1: 19.1px;
  --font-size-smi-7: 12.7px;

  /* Colors */
  --color-white: #fff;
  --color-gray-100: #828282;
  --color-gray-200: #1c1c1c;
  --color-gray-300: #151414;
  --color-black: #000;
  --color-gainsboro-100: #d9d9d9;
  --color-gainsboro: rgba(217, 217, 217, 0.53);
  --color-red: #f52020;

  /* Gaps */
  --gap-xl: 20px;
  --gap-3xs-5: 9.5px;
  --gap-base-3: 16.3px;
  --gap-mid: 17px;
  --gap-mini: 15px;
  --gap-12xl: 31px;
  --gap-6xl: 25px;
  --gap-11xl: 30px;
  --gap-lg: 18px;
  --gap-24xl-6: 43.6px;
  --gap-3xl: 22px;
  --gap-8xl: 27px;
  --gap-7xs-5: 5.5px;
  --gap-base: 16px;
  --gap-9xl: 28px;
  --gap-mid-4: 17.4px;
  --gap-15xl-8: 34.8px;
  --gap-12xs-9: 0.9px;
  --gap-2xs-5: 10.5px;
  --gap-3xs-3: 9.3px;
  --gap-smi-6: 12.6px;
  --gap-lgi: 19px;
  --gap-19xl: 38px;
  --gap-10xs: 3px;
  --gap-lgi-8: 19.8px;
  --gap-smi: 13px;
  --gap-2xs: 11px;
  --gap-16xl: 35px;
  --gap-3xs: 10px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-91xl: 110px;
  --padding-9xs-6: 3.6px;
  --padding-13xl: 32px;
  --padding-10xs: 3px;
  --padding-3xl: 22px;
  --padding-xs: 12px;
  --padding-4xs: 9px;
  --padding-12xs: 1px;
  --padding-11xs: 2px;
  --padding-7xl: 26px;
  --padding-5xs: 8px;
  --padding-2xl: 21px;
  --padding-4xl: 23px;
  --padding-6xs-2: 6.2px;
  --padding-3xs: 10px;
  --padding-14xl: 33px;
  --padding-84xl: 103px;
  --padding-6xl: 25px;
  --padding-43xl-2: 62.2px;
  --padding-21xl: 40px;
  --padding-8xs: 5px;
  --padding-28xl: 47px;
  --padding-29xl: 48px;
  --padding-base: 16px;
  --padding-42xl: 61px;
  --padding-43xl: 62px;
  --padding-smi-8: 12.8px;
  --padding-smi-7: 12.7px;
  --padding-lgi: 19px;
  --padding-mini: 15px;
  --padding-6xs: 7px;
  --padding-38xl-1: 57.1px;
  --padding-290xl: 309px;
  --padding-135xl: 154px;
  --padding-4xs-4: 8.4px;
  --padding-2xs: 11px;
  --padding-7xs-9: 5.9px;
  --padding-2xs-7: 10.7px;
  --padding-55xl: 74px;
  --padding-11xl: 30px;
  --padding-sm: 14px;
  --padding-80xl: 99px;
  --padding-7xs-2: 5.2px;
  --padding-27xl: 46px;
  --padding-8xs-5: 4.5px;
  --padding-10xs-3: 2.3px;
  --padding-5xl: 24px;
  --padding-6xs-4: 6.4px;
  --padding-11xs-4: 1.4px;
  --padding-9xs: 4px;
  --padding-10xl-1: 29.1px;
  --padding-18xl: 37px;
  --padding-16xl: 35px;
  --padding-mid: 17px;
  --padding-7xs-4: 5.4px;
  --padding-47xl: 66px;
  --padding-15xl: 34px;
  --padding-20xl: 39px;
  --padding-7xs: 6px;
  --padding-17xl: 36px;
  --padding-6xs-5: 6.5px;
  --padding-8xl: 27px;
  --padding-xs-8: 11.8px;

  /* Border radiuses */
  --br-8xs-3: 4.3px;
  --br-30xl: 49px;
  --br-10xl-3: 29.3px;
}
