.root-child {
  width: 1.1px;
  height: 511.3px;
  position: absolute;
  margin: 0 !important;
  bottom: 169.2px;
  left: 582.4px;
  object-fit: contain;
}
.frame-child {
  width: 1920px;
  height: 200.3px;
  position: relative;
  background-color: var(--color-gainsboro);
  display: none;
  max-width: 100%;
}
.ti-khon-ca,
.trang-ti-khon {
  position: relative;
  letter-spacing: 0.16em;
  display: inline-block;
  white-space: nowrap;
  z-index: 1;
}
.ti-khon-ca {
  line-height: 41px;
  font-weight: 600;
  max-width: 100%;
}
.trang-ti-khon {
  width: 283.6px;
  font-size: var(--font-size-lg-9);
  line-height: 29px;
  font-weight: 500;
}
.rectangle-parent {
  align-self: stretch;
  background-color: var(--color-gainsboro);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 55.8px var(--padding-xl) var(--padding-38xl-1) var(--padding-290xl);
  box-sizing: border-box;
  gap: 17.4px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-8xl-1);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.admin,
.avata-2-icon {
  position: relative;
  flex-shrink: 0;
  debug_commit: 448091;
}
.avata-2-icon {
  height: 98px;
  width: 98px;
  border-radius: 48.99px;
  object-fit: cover;
}
.admin {
  align-self: stretch;
  letter-spacing: 0.16em;
  line-height: 40px;
}
.admin-label-container,
.avata-2-parent,
.avatar-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.admin-label-container {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-14xl) 0 0;
  box-sizing: border-box;
  min-width: 198px;
}
.avata-2-parent,
.avatar-wrapper {
  flex-direction: row;
  max-width: 100%;
}
.avata-2-parent {
  flex: 1;
  gap: 29.3px;
}
.avatar-wrapper {
  width: 438.3px;
  padding: 0 var(--padding-10xs);
  box-sizing: border-box;
}
.trang-ti-khon1 {
  margin: 0;
}
.trang-ti-khon-container {
  width: 214.9px;
  position: relative;
  line-height: 151%;
  font-weight: 300;
  display: inline-block;
}
.account-separator-child {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-top: 1.1px solid var(--color-gray-100);
  box-sizing: border-box;
  max-width: 100%;
}
.account-navigation,
.account-separator {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.account-separator {
  height: 1.1px;
  flex-direction: row;
  padding: 0 0 0 var(--padding-11xs);
}
.account-navigation {
  flex-direction: column;
  padding: 0 0 14px;
  gap: 5.4px;
}
.ti-khon {
  width: 214.9px;
  position: relative;
  line-height: 151%;
  font-weight: 300;
  display: inline-block;
}
.logout-separator-child {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-top: 1.1px solid var(--color-gray-100);
  box-sizing: border-box;
  max-width: 100%;
  z-index: 1;
}
.logout-separator {
  align-self: stretch;
  height: 1.1px;
  flex-direction: row;
  padding: 0 0 0 var(--padding-10xs);
  box-sizing: border-box;
}
.logout-item,
.logout-navigation,
.logout-separator {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.logout-item {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-xl);
}
.logout-navigation {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-10xs);
  box-sizing: border-box;
}
.thot1 {
  margin: 0;
}
.thot {
  flex: 1;
  position: relative;
  line-height: 151%;
  font-weight: 300;
}
.logout-button,
.navigation,
.user-avatar-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.logout-button {
  width: 221.1px;
  flex-direction: row;
  padding: 0 var(--padding-10xs);
  box-sizing: border-box;
}
.navigation,
.user-avatar-container {
  flex-direction: column;
  max-width: 100%;
}
.navigation {
  align-self: stretch;
  gap: 16.3px;
}
.user-avatar-container {
  width: 494.8px;
  padding: 0 30px 0 0;
  box-sizing: border-box;
  gap: 53.6px;
}
.xin-cho-admin {
  height: 122.3px;
  flex: 1;
  position: relative;
  line-height: 150%;
  white-space: pre-wrap;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.xin-cho-admin-nu-khng-ph-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-mini);
  box-sizing: border-box;
  max-width: 100%;
}
.t-trang-ti {
  flex: 1;
  position: relative;
  line-height: 150%;
  white-space: pre-wrap;
  display: inline-block;
  max-width: 100%;
}
.action-description {
  width: 1122.8px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 18px 31.3px;
  box-sizing: border-box;
  max-width: 100%;
}
.thm-sn-phm {
  height: 48.2px;
  width: 244.7px;
  position: relative;
  line-height: 150%;
  white-space: pre-wrap;
  display: inline-block;
  flex-shrink: 0;
  transform: rotate(0.5deg);
}
.button {
  flex: 1;
  box-shadow: 0 0.5px 1.08px rgba(0, 0, 0, 0.05);
  border-radius: 4.33px;
  background-color: var(--color-white);
  border: 0.5px solid var(--color-gray-200);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-smi-7) var(--padding-3xl) var(--padding-smi-8);
  min-width: 197px;
  white-space: nowrap;
}
.xa-sn-phm {
  position: relative;
  line-height: 41.7px;
}
.button1 {
  box-shadow: 0 0.5px 1.08px rgba(0, 0, 0, 0.05);
  border-radius: 4.33px;
  background-color: var(--color-white);
  border: 0.5px solid var(--color-gray-200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-42xl) var(--padding-base)
    var(--padding-43xl);
  white-space: nowrap;
}
.sa-sn-phm {
  height: 58.5px;
  flex: 1;
  position: relative;
  line-height: 150%;
  display: inline-block;
}
.actions,
.button2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.button2 {
  flex: 0.8023;
  box-shadow: 0 0.5px 1.08px rgba(0, 0, 0, 0.05);
  border-radius: 4.33px;
  background-color: var(--color-white);
  border: 0.5px solid var(--color-gray-200);
  padding: var(--padding-5xs) var(--padding-28xl) var(--padding-5xs)
    var(--padding-29xl);
  min-width: 197px;
  white-space: nowrap;
  font-size: var(--font-size-8xl-1);
}
.actions {
  width: 996.5px;
  padding: 0 0 62.6px;
  gap: var(--gap-24xl-6);
  max-width: 100%;
}
.xem-danh-mc {
  position: relative;
  line-height: 150%;
}
.button3 {
  box-shadow: 0 0.5px 1.08px rgba(0, 0, 0, 0.05);
  border-radius: 4.33px;
  background-color: var(--color-white);
  border: 0.5px solid var(--color-gray-200);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xl) var(--padding-8xs);
  white-space: nowrap;
  max-width: 100%;
}
.vector-icon {
  width: 43.5px;
  height: 44.8px;
  position: relative;
}
.bottom-separator,
.button-parent,
.content,
.content-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.bottom-separator {
  flex-direction: column;
  padding: 16.2px 0 0;
}
.button-parent,
.content,
.content-wrapper {
  max-width: 100%;
}
.button-parent {
  flex-direction: row;
  gap: 60.4px;
}
.content,
.content-wrapper {
  flex-direction: column;
}
.content-wrapper {
  align-self: stretch;
  gap: var(--gap-7xs-5);
}
.content {
  flex: 1;
  padding: var(--padding-43xl-2) 0 0;
  box-sizing: border-box;
  min-width: 737px;
}
.footer-child {
  width: 0;
  flex: 1;
  position: relative;
  max-height: 100%;
  object-fit: contain;
}
.footer,
.profile-header {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer {
  height: 620.4px;
  width: 0;
  flex-direction: column;
  padding: 109.1px 0 0;
  box-sizing: border-box;
}
.profile-header {
  width: 1628.8px;
  flex-direction: row;
  row-gap: 20px;
  max-width: 100%;
}
.profile-header-wrapper,
.root {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.profile-header-wrapper {
  width: 1864.8px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-7xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.root {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: 74px 0 73.6px;
  gap: 111.7px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1350px) {
  .footer {
    display: none;
  }
  .profile-header {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1150px) {
  .actions {
    flex-wrap: wrap;
  }
  .content {
    min-width: 100%;
  }
  .root {
    gap: 56px;
  }
}
@media screen and (max-width: 800px) {
  .rectangle-parent {
    padding-left: var(--padding-135xl);
    box-sizing: border-box;
  }
  .user-avatar-container {
    gap: var(--gap-8xl);
  }
  .actions {
    gap: var(--gap-3xl);
  }
  .root {
    gap: var(--gap-9xl);
  }
}
@media screen and (max-width: 450px) {
  .rectangle-parent {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .admin {
    font-size: var(--font-size-2xl);
    line-height: 31px;
  }
  .avata-2-parent {
    flex-wrap: wrap;
  }
  .t-trang-ti,
  .thot,
  .ti-khon,
  .trang-ti-khon-container,
  .xin-cho-admin {
    font-size: var(--font-size-2xl);
    line-height: 31px;
  }
  .button1,
  .button2 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .button2 {
    flex: 1;
  }
  .button-parent {
    flex-wrap: wrap;
    gap: var(--gap-11xl);
  }
}
body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-7xl: 26px;
  --font-size-8xl-1: 27.1px;
  --font-size-2xl: 21px;
  --font-size-lg-9: 18.9px;
  --font-size-6xl-4: 25.4px;
  --font-size-xl: 20px;

  /* Colors */
  --color-white: #fff;
  --color-gray-100: #828282;
  --color-gray-200: #1c1c1c;
  --color-black: #000;
  --color-gainsboro: rgba(217, 217, 217, 0.53);

  /* Gaps */
  --gap-9xl: 28px;
  --gap-7xs-5: 5.5px;
  --gap-11xl: 30px;
  --gap-24xl-6: 43.6px;
  --gap-3xl: 22px;
  --gap-8xl: 27px;
  --gap-xl: 20px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-43xl-2: 62.2px;
  --padding-3xl: 22px;
  --padding-8xs: 5px;
  --padding-5xs: 8px;
  --padding-28xl: 47px;
  --padding-29xl: 48px;
  --padding-base: 16px;
  --padding-42xl: 61px;
  --padding-43xl: 62px;
  --padding-smi-7: 12.7px;
  --padding-smi-8: 12.8px;
  --padding-mini: 15px;
  --padding-10xs: 3px;
  --padding-11xs: 2px;
  --padding-14xl: 33px;
  --padding-38xl-1: 57.1px;
  --padding-290xl: 309px;
  --padding-135xl: 154px;
  --padding-6xl: 25px;
  --padding-6xs: 7px;
  --padding-2xs-7: 10.7px;

  /* Border radiuses */
  --br-8xs-3: 4.3px;
  --br-30xl: 49px;
}
